Database/rethinkdb_data
Robot communication/go/*
!Robot communication/go/src
Robot communication/go/src/*
!Robot communication/go/src/github.com
Robot communication/go/src/github.com/*
!Robot communication/go/src/github.com/dev1an
.DS_Store
