[submodule "Web application"]
	path = Web application
	url = git@gitlab.mech.kuleuven.be:r0449223/web-application.git
[submodule "Robot communication/node"]
	path = Robot communication/node
	url = git@gitlab.mech.kuleuven.be:r0449223/zyre-rethinkdb-mediator-in-nodejs.git
[submodule "Robot communication/python"]
	path = Robot communication/python
	url = git@gitlab.mech.kuleuven.be:r0449223/robot-communication.git
[submodule "Robot communication/go/src/github.com/dev1an/zyre-db"]
	path = Robot communication/go/src/github.com/dev1an/zyre-db
	url = git@gitlab.mech.kuleuven.be:r0449223/zyre-rethinkdb-mediator-in-go.git
[submodule "Robot simulation"]
	path = Robot simulation
	url = git@gitlab.mech.kuleuven.be:r0449223/PnP-proxy.git
